.newcollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 20px;
    margin-bottom: 100px;
}

.newcollections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}

.newcollections hr {
    height: 6px;
    width: 200px;
    border-radius: 10px;
    background: #252525;
    margin: 20px 0;

}




.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* Small PC screen size (max-width: 1200px) */
@media only screen and (max-width: 1200px) {
    .newcollections {
        padding: 15px;
        margin-bottom: 80px;
    }

    .newcollections h1 {
        font-size: 40px;
    }

    .newcollections hr {
        width: 180px;
        margin: 15px 0;
    }

    .collections {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        gap: 20px;
    }
}

/* Tablet screen size (max-width: 768px) */
@media only screen and (max-width: 768px) {
    .newcollections {
        padding: 10px;
        margin-bottom: 60px;
    }


    .newcollections h1 {
        font-size: 30px;
    }

    .newcollections hr {
        width: 150px;
        margin: 10px 0;
    }

    .collections {
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        gap: 15px;
    }
}